$title-font-size: 64px;
$sub-title-font-size: 31px;
$sign-in-font-size: 15px;
$links-font-size: 13px;
$titles-font-color: #041419;
$links-font-color: #536471;
$terms-font-color: #1D9BF0;
$border-hover-color: #dadce0;